*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* border:1px solid aqua; */
}
body{
    background-color: #FAF5F3;
    width: 100vw;
    overflow-x: hidden;
}
.banner-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.temp-banner{
    background-image: url('../img/banner-background.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: zoom-in 6s ease-in-out alternate-reverse infinite;
}
.logo{
    position: absolute;
    top:2rem;
    left: -10rem;
    z-index: 99;
    /* background-color: #001055; */
    /* background: linear-gradient(to right , #00105510,#00105550,#001055); */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    width: 30vw;
    display: flex;
    justify-content: end;
}
.logo img{
    width: 210px;
}
.banner-overlay{
    width: 78vw;
    height: 78vw;
    position: absolute;
    top:0%;
    left:0;
    border-radius: 50%;
    background-color: transparent;
    transform: translate(-25%,-30%);
    border:70px solid #FF7900;
    /* z-index: 1; */
    /* background-color: rgba(0, 0, 0,0.6); */
    /* background: linear-gradient(to right,#00000070,#00000045,#00000045,#00000020); */
    /* background: linear-gradient(#000000); */
    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; */

}
.text{
    font-size: 5rem;
    color:#f6f4ee;
    color:#001055;
    position: absolute;
    top:25%;
    left:5%;
    /* text-shadow: 2px 2px 6px black; */
    z-index: 2;                                                                   
    /* font-family: 'Canela Trial', sans-serif; */
    text-align: left;
    /* font-family: 'Canela Deck Trial', sans-serif; */
    border:none;
    font-weight: 700;
    max-width: 50vw;
}
.text .highlight{
    color:#FF7900;
    display: inline;
    margin:0;
    padding:0;
    border-radius: 50%;
}
.text-smaller{
    font-size: 1.2rem;
    font-weight: 500 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-smaller strong{
    font-family: inherit;
}
.text-smaller.more{
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-smaller.background{
    background-color: #FF7900;
    color:white;
    padding: 0.4rem 0rem 0.4rem 5.8vw;
    width: 22vw;
    margin-left:-5vw;
    border-radius: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text-smaller.golden.highlight{
   
}


.text span{
    display: block;
}
@media screen and (max-width:992px) {
    .logo{
        top:1rem;
        left: 1rem;
    }
    .logo img{
        width: 200px;
    }
    .text{
        top:23%;
        font-size: 2rem;
        text-align: center;
        left:0%;
        transform: translate(0%,-50%);
        width: 100%;
    }
    .text span{
        display: inline;
    }
    .text .highlight{
        display: block;
        font-size: 4rem;
    }

    .text .golden.highlight{
        background-color: transparent;
        backdrop-filter: blur(100px);
        width: 7rem;
        height: 7rem;
        text-shadow: 2px 2px 5px black;
    }
    .text .golden.highlight::before{
        border: 5px solid #FF7900;
    }
    
}
@media screen and (max-width:540px) {
    .text{
        top:23%;
        font-size: 1.4rem;
        text-align: center;
        left:0%;
        transform: translate(0%,-50%);
        width: 100%;
    }
    .text .highlight{
        display: inline;
        font-size: 1.4rem;
    }

    .text .golden.highlight{
        background-color: transparent;
        backdrop-filter: blur(100px);
        width: 3.5rem;
        height: 3.5rem;
        text-shadow: 2px 2px 5px black;
    }
    .text .golden.highlight::before{
        border: 3px solid #FF7900;
    }
}


@keyframes zoom-in {
    0%{
        scale: 1;
    }

    100%{
        scale: 1.1;
    }
}
#under-banner{
    background-color: #001055;
    /* padding-bottom: 200px; */
    position: relative;
    max-height: 150px;
}
.usp-card{
    width: 300px;
    height: 150px;
    border-radius: 15px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    
}
.usp-card *{
    z-index: 2;
}
.usp-card:hover::before{
    transform: scaleY(1.1);
}

.usp-card .usp-heading{
    font-size: 1.2rem;
    color:#FF7900;
    font-weight: 600;
    /* font-family: 'Canela Text Trial', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.usp-card .usp-text{
    font-size: 0.7rem;
    text-align: center;
    margin-top: 0.7rem;
    max-width: 85%;
    font-family: 'Canela Text Trial', sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.usp-card::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color:#f6f4ee;
    position: absolute;
    top:0;
    left:0;
    border-radius: 15px;
    transition: all .3s 0s ease-out;
    z-index: -1;
    box-shadow: 2px 2px 8px 2px #00000030;
}

.usp-btn{
    position: absolute;
    width: 70px;
    height: 70px;
    border: 8px solid #001055;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 50%;
    background-color: #f6f4ee;
    transition: all .3s 0s ease-out;
}

.usp-card:hover .usp-btn{
    transform: translate(-50%,50%) scale(1.1);
}
.usp-mobile{
    display: none;
}
@media screen and (min-width:990px) {
    .usp-container{
        transform: translateY(-50%);
    }
}

@media screen and (max-width:540px) {
    .usp-text, .usp-heading{
        display: none;
    }
    .usp-mobile{
        display: block;
        font-size: 1.4rem;
        color:#FF7900;
        text-align: center;
        margin-top: -20px;
    }
    .usp-mobile span{
        display: block;
        font-size: 0.7rem; 
        margin-top: 0.4rem;
        color:black;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .usp-card{
        width: 40vw;
        height: 35vw;
        border-radius: 15px;
        justify-content: center;
    }
    .usp-card::before{
        border-radius: 15px;
    }
}

.margin-line{
    height: 3px;
    width: 45vw;
    background: radial-gradient(#f6f4ee, #f6f4ee90, #f6f4ee00);
    border-radius: 50%;
    position: absolute;
}
.margin-line:nth-child(1)
{
    display: block;
    top:54%;
    left:4vw;
    /* transform: translate(-50,-50%); */
}
.margin-line:nth-child(2)
{
    display: block;
    top:54%;
    right:4vw;
    /* transform: translate(-50%,-50%); */
}
.margin-line:nth-child(3)
{
    top:30%;
    left:50%;
    transform: translateX(-50%) rotate(90deg);
}
.margin-line:nth-child(4)
{
    top:78%;
    left:50%;
    transform: translateX(-50%) rotate(90deg);
}

@media screen and (min-width: 541px) {
    .margin-line:nth-child(3),.margin-line:nth-child(4){
        display: none;
    }
}

/* Css for form  */
#admission-form-container{
    width: 30vw;
    max-height: 80vh;
    position: absolute;
    top:1rem;
    right:5vw;
    /* background-color: white; */
    /* background-color: transparent; */
    /* backdrop-filter: blur(10px); */
    /* border:2px solid rgba(255,255,255,.5); */
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    z-index: 999;
    padding:1rem 2rem;
}
#admission-form-container h2{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color:#001055;
    /* text-shadow: 2px 2px 5px black; */
}
@media screen and (max-width:992px) {
    #admission-form-container{
        width: 50vw;
        max-height: 80vh;
        top:30vh;
    }
}
@media screen and (max-width:540px) {
    #admission-form-container{
        width: 90vw;
        max-height: 80vh;
        top:30vh;
    }
}
.admission-form input:not(input[type='checkbox']),.admission-form select {
    font-size: 0.70rem;
    background-color: white;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    border-radius: 15px;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    outline:none;
    /* border-radius: 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.admission-form .form-check-label{
    font-size: 0.80rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black
}
.admission-form .form-check-input{
    width:15px;
    height:15px;
    border-radius: 50%;
}



/* CSS for tab buttons */
.tab-btn-container{
    display: flex;
}
.tab-btn{
    padding: 8px 10px 4px 10px ;
    text-align: center;
    border:1px solid white;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-color: transparent;
    border-bottom-color: #FF7900;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tab-btn:hover{
    border: 1px solid #FF7900;      
}
.tab-btn.active{
    background-color: #FF7900;
    color:white;
}
.tab-panel .panel{
    display: none;
}
.tab-panel .panel.active{
    display:block;
}
/* CSS for tab buttons ends*/

/* CSS for button */
.btn-custom-primary{
    background-color: #001055;
    max-width: 150px;
    color:white;
    display: block;
    margin:auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

}
.btn-custom-primary:hover{
    background-color:  #001055;
    color:white;
}
.btn-custom-primary:active{
    background-color: transparent;
    border-color: #FF7900;
}

.image{
    position: absolute;
    top:10vh;
    width: 80vw;
    left:50%;
    transform: translateX(-50%);
}



 /* Container to hold the scrolling divs */
 .scroll-container {
    display: flex;
    width: 100%;
    position: relative;
}

/* The row of divs that will scroll */
.scrolling-divs {
    display: flex;
    animation: scroll 60s linear infinite; /* Slower speed by increasing duration */
}

.scrolling-divs.slower {
    margin-left: -8rem;
    margin-top: 0.7rem;
}

/* Styling for each individual div */
.scrolling-div {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: lightblue;
    border: 2px solid #007bff;
    font-size: 24px;
    font-weight: bold;
}

/* Animation for continuous scroll from right to left */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrolls {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-120%);
    }
}

/* To make sure the second set of divs appears right after the first one */
.scrolling-divs > div {
    flex-shrink: 0; /* Prevents the divs from shrinking */
}

@media screen and (max-width:540px) {
    .scrolling-div {
        width: 125px;
        height: 50px;
    }
    .scroll-container
    {
        height: 50px;
    }
    .scrolling-divs.slower {
        margin-left: -4.4rem;
        margin-top: 0.5rem;
    }
    

}